@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (min-width:425px) {
 
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

 body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 

.dropdown-list {
  position: relative;
  /* overflow-y: visible; */
  z-index: 10;
}
.dropdown-list > div {
  position: absolute;
  /* overflow-y: visible; */
  top: 100%;
  min-width: 150px; /* Set a minimum width for consistency */
  background: white;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle; /* Aligns with text */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
